<!--    设置浏览器中的被请求地址,当浏览器请求/ABC时,服务器就会去找名字是 A 的servlet-->
<?xml version="1.0" encoding="UTF-8">
<Xservlet>
	<Xservlet-mapping>
	    <Xservlet-name>XTestServlet</Xservlet-name>
	    <Xurl-pattern>/login</Xurl-pattern>
	</Xservlet-mapping>
	<Xservlet-mapping>
	    <Xservlet-name>XTestServlet</Xservlet-name>
	    <Xurl-pattern>/resgiter</Xurl-pattern>
	</Xservlet-mapping>
	<Xservlet-mapping>
	    <Xservlet-name>XTestServlet</Xservlet-name>
	    <Xurl-pattern>/test</Xurl-pattern>
	</Xservlet-mapping>
<Xservlet>